@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #ff8310;
  --background: #232323;
  --dark: #393939;
  --darker: #191a20;
  --light: #cccccc;
  --lighter: #ffffff;

  --default-border-radius: 8px;

  --dark-button: #494949;

  --cart-item-background: #2b2b2b;
}
body {
  color: var(--light);
  background: var(--background);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
